*, html, body, p, h1, h2 {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	padding-top: 25px;
}

body, button {
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
}

#game {
	position: relative;
	width: 350px;
	margin: 10px auto;
	padding: 15px;
	border-radius: 15px;
}

.boxes {
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
}

.boxes div {
  flex: 1 1 100px;
	margin: 5px;
}

.head {
	padding: 10px;
	text-align: left;
}

/* Wyniki i rundy */
.score {
	height: 40px;
	border-radius: 10px;
	line-height: 40px;
}

.score p {
	text-align: left;
}

.score span {
	float:right;
}

.scores p {
	width: 90%;
	margin: 0 auto;

	font-size: 10px;
}

.score span, #rounds {
	font-weight: 700;
}

.score span {
	font-size: 18px;
}

#rounds {
	font-size: 32px;
}

/* Zadania */
#game p {
	font-size: 12px;
	margin-bottom: 4px;
}

.challenges div {
	padding: 10px 0;

	border-radius: 10px;
	border: 3px dashed;

	cursor: help;
}

/* Dymki zadań */
[tooltip]:before {
    content: attr(tooltip);
    position: absolute;
    opacity: 0;

    padding: 10px;
		border-radius: 5px;

		font-size: 11px;

		transition: all 0.30s ease;
}

[tooltip]:hover:before {
    opacity: 1;
    margin-top: 20px;
}

[tooltip]:not([tooltip-persistent]):before {
    pointer-events: none;
}

/* Wynik */
.head {
	font-size: 21px;
}

#result {
	font-size: 41px;
}

/* Przyciski */
button:focus {outline:0;}

button {
	margin: 10px;
	height: 70px;

	border-radius: 10px;
	border: 3px dashed;

	font-size: 40px;
	line-height: 64px;

	cursor: pointer;
	transition: .2s ease-in-out;
}

.boxes button {
	width: 70px;
}
.box button {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

button:hover, button.selected {
	transform: scale(1.2);}

/* Ekran końcowy */
.end {
	position: absolute;
	z-index: 100;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);

	width: 70%;
	padding: 10px 10px;
	border-radius: 15px;
	border: 3px dashed;
}

/* log gry */
.log p {
	width: 300px;
	margin: 5px auto 0 auto;

	text-align: center;
}

p.challenge {
	font-size: 15px;
}

.challenge span {
	display: inline-block;

	padding: 5px;
	margin: 5px;

	border-radius: 5px;
}
